@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Truculenta:opsz,wght@12..72,100..900&display=swap');
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
*{ 
    margin:3px;
    border: 3px;
    padding: 2px;;
}
:root{
    --primary-color: #05668d;
    --secondary-color: #00a896;
    --accent1-color: #244f26;
    --accent2-color: #cae9ff;

    --heading-font:"roboto", serif;
    --paragraph-font:"roboto", serif;

    --nav-background-color:var(--primary-color);
    --nav-link-color:var(black);
    --nav-hover-link-color:var(--accent1-color);
    --nav-hover-background-color:var(--accent2-color);
}
header{
    padding:20px;
    background-color: var(rgb(170, 170, 170));
    margin:0 auto;
    display: flex;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom:1px solid #ccc;
    max-width:1000px;
}
.logo img{
    margin:0 0.25rem 0 1rem;
    width:64px;
    height:auto;
}
h1{
    color:#244f26;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
}
.hero img{
    position: flex;
    display:flex;
    margin:0;
    width:100%;
    height:auto;
}
.flexbox-item-1{
    font-family: "roboto", sans-serif;
    width:100px;
    border: 1px solid rgb(0, 0, 0);
    margin: 10px;
    background-color: white;
}
.flexbox-item-2{
    font-family: "roboto", sans-serif;
    width:100px;
    border: 1px solid rgb(0, 0, 0);
    margin: 10px;
    background-color: white;
    
}.flexbox-item-3{
    font-family: "roboto", sans-serif;
    width:100px;
    border: 1px solid rgb(0, 0, 0);
    margin: 10px;
    background-color: white;
    
}.flexbox-item-4{
    font-family: "roboto", sans-serif;
    width: 100px;
    border: 1px solid rgb(0, 0, 0);
    margin: 10px;
    background-color: white;
    
}
.flexbox-container-1{
    size:flex;
    display: flex;
    justify-content: center;
}
.raftingphotos{
    width: auto;
    height: auto;
    size:flex;
    display:flex;
    justify-content: center;
}
.employees{
    display:flex;
    justify-content: center;
}
.client{
    display:flex
}
nav{
    display:right;
    color:var(--nav-link-color);
    text-decoration:none;
    padding: 1rem;
    background-color:var(--nav-background-color);
    font-size: 1.2rem;
    text-align: auto;
}
nav :link, nav a:visited{
    color:var(--nav-link-color);
}
nav :hover {
    color:var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
h2{ 
    color:var(--primary-color);
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
}
h3{ 
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}
form{
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border:1px solid rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    background-color: #d7d7d7;
    display:grid;
}
fieldset{
    width: 650px;
    display:grid;
    grid-gap:.5rem;
    margin: 1rem; 
    background-color: #ececec;
    border:1px solid rgba(0,0,0,0.2);
    padding:1rem;
}
legend{
    padding:0.5rem;
    color: navy;
    font-size: 1.3em;
}
label{
    text-align:left;
    padding-right:1rem;
}
input, textarea{
    padding: 0.5rem;
    font-size:1.1rem;
}
input[type="checkbox"] {
    width:22px;
    height: 22px;
    vertical-align: bottom;
}
button{
    margin: 1rem;
    background-color: var(--primary-color);
    color:#fff;
    border:none;
    border-radius: .5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}
button:hover{
    background-color: var(--secondary-color);  
}