@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Truculenta:opsz,wght@12..72,100..900&display=swap');
:root{
    --primary-color: #05668d;
    --secondary-color: #00a896;
    --accent1-color: #244f26;
    --accent2-color: #cae9ff;

    --heading-font:"roboto", serif;
    --paragraph-font:"roboto", serif;

    --nav-background-color:var(--primary-color);
    --nav-link-color:var(--secondary-color);
    --nav-hover-link-color:var(--accent1-color);
    --nav-hover-background-color:var(--accent2-color);
}
*{ 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.box{
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding:1rem;
    background-color: #ddd;
    color: #000;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-family:var(--heading-font);
    color:var(--primary-color)
}
header{
    padding:20px;
    background-color: var(--accent2-color);
}
p{
    padding:25px;
}
nav{
    background-color:var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav {
    display:block;
    color:var(--nav-link-color);
    text-decoration:none;
    padding: 1rem;
}
nav :link, nav a:visited{
    color:var(--nav-link-color);
}
nav :hover {
    color:var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}